[submodule "RLCO/OCA1"]
	path = RLCO/OCA1
	url = git@github.com:RLCO/Multti-RL.git
	branch = OCA1

[submodule "RLCO/Muk"]
	path = RLCO/Muk
	url = git@github.com:RLCO/Multti-RL.git
	branch = Muk

[submodule "RLCO/alfodoo"]
	path = RLCO/alfodoo
	url = git@github.com:RLCO/alfodoo.git
	branch = 9.0-add_report_aeroo_cmis

[submodule "RLJO/royal1"]
	path = RLJO/royal1
	url = git@github.com:RLJO/royalline-addons.git
	branch = master

[submodule "RLJO/royalline-addons"]
	path = RLJO/royalline-addons
	url = git@github.com:RLJO/royalline-addons.git
	branch = master

[submodule "RLJO/logi"]
	path = RLJO/logi
	url = git@github.com:RLJO/logi.git
	branch = master

[submodule "RLJO/logiq"]
	path = RLJO/logiq
	url = git@github.com:RLJO/logi.git
	branch = master
