[submodule "RLCO/OCA1"]
	path = RLCO/OCA1
	url = git@github.com:RLCO/Multti-RL.git
	branch = OCA1

[submodule "RLCO/Muk"]
	path = RLCO/Muk
	url = git@github.com:RLCO/Multti-RL.git
	branch = Muk

[submodule "RLJO/logistic"]
	path = RLJO/logistic
	url = git@github.com:RLJO/logistic.git
	branch = master

[submodule "RLCO/Multti-RL"]
	path = RLCO/Multti-RL
	url = git@github.com:RLCO/Multti-RL.git
	branch = ADHOC

[submodule "RLCO/Multti-RL1"]
	path = RLCO/Multti-RL1
	url = git@github.com:RLCO/Multti-RL.git
	branch = CybroOdoo

[submodule "RLCO/Multti-RL2"]
	path = RLCO/Multti-RL2
	url = git@github.com:RLCO/Multti-RL.git
	branch = ForgeFlow

[submodule "RLCO/Multti-RL3"]
	path = RLCO/Multti-RL3
	url = git@github.com:RLCO/Multti-RL.git
	branch = Odoo-Cae

[submodule "RLCO/Multti-RL4"]
	path = RLCO/Multti-RL4
	url = git@github.com:RLCO/Multti-RL.git
	branch = Shipping

[submodule "RLCO/Multti-RL5"]
	path = RLCO/Multti-RL5
	url = git@github.com:RLCO/Multti-RL.git
	branch = transport-management-system

[submodule "RLCO/Multti-RL6"]
	path = RLCO/Multti-RL6
	url = git@github.com:RLCO/Multti-RL.git
	branch = akretion

[submodule "RLCO/Multti-RL7"]
	path = RLCO/Multti-RL7
	url = git@github.com:RLCO/Multti-RL.git
	branch = coopiteasy

[submodule "RLCO/Multti-RL8"]
	path = RLCO/Multti-RL8
	url = git@github.com:RLCO/Multti-RL.git
	branch = shopinvader

[submodule "RLCO/Multti-RL9"]
	path = RLCO/Multti-RL9
	url = git@github.com:RLCO/Multti-RL.git
	branch = Other-Apps
